@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
   
  .custom-bullet.swiper-pagination-bullet{
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #2e8231;
  background-color: white;
  opacity: 100%;
  position: relative;
  transition: all 0.3s ease;
  
}
.custom-bullet.swiper-pagination-bullet-active{
  background-color: #4CAF50;
  border: 2px solid #2e8231;
  padding: 5px;
}


}

@font-face {
    font-family: MyFont;
    src: url(../public/Font/static/Montserrat-SemiBold.ttf);
}

*{
    font-family: MyFont;
}

.NavBarAnimation::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #1DAEFF;
    transition: 0.8s;
}

.NavBarAnimation:hover::after{
    width: 100%;
}

.NavBarAnimationAvtive::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: -8px;
    left: 0;
    background-color: #1DAEFF;
}

